
@media (min-width: 600px) {

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 320px;
    grid-template-rows: auto auto;
    gap: 2em;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .canvas-container {
    justify-self: center;
    max-width: 500px;
  }

  .controls-container {
    max-width: 320px;
    justify-self: start;
  }

  .gallery-container {
    grid-column: 1 / -1;
    order: 3;
    max-width: 900px;
    margin: 0 auto;
  }

  .font-controls button,
  .align-controls button,
  .move-line-controls button,
  .text-control button {
      flex: unset;
      width: auto;
      min-width: 40px;
  }

  .text-control select,
  .text-control input[type=color] {
      flex: unset;
      width: auto;
      min-width: 60px;
  }
}



@media (min-width: 980px) {

  .grid-layout {
    grid-template-columns: 1fr 360px;
    gap: 2.5em;
    max-width: 1300px;
  }

  .canvas-container {
    max-width: 550px;
  }

  .controls-container {
    max-width: 360px;
  }

  .gallery-container {
    max-width: 1000px;
  }
}

