* {
  box-sizing: border-box;
}

:root {
  --clr-bg-main: #f7f3eb;
  --clr-primary: #8fa78f;
  --clr-primary-dark: #5f7663;
  --clr-accent: #d2b48c;
  --clr-txt-main: #333;
  --clr-txt-light: #fff;

  --font-main: 'Lato', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--clr-txt-main);
  background-color: var(--clr-bg-main);
}
